
body{
	padding: 0;
	margin: 0;
	font-family: agency fb, arial, helvetica;
	font-size: 16px;
}

*{
	padding: 0px;
	border: 0px;
}

#logo{
	position: relative;
	width: 243px;
	height: 104px;
	left: 10px;
}

#cabecalho{
	position: relative;
	width: 955px;
	height: 115px;
	background-color: #c0c0c0;
}

#menu {
	background-color: #e1e1e1;
	list-style: none;
	width: 955px;
	height: 32px;
	position: relative;
	top: -16px;
	float: left;
}

#menu li{
	position: relative;
	float: left;
	padding-left: 80px;	
}

#menu li a{
	color:#333; 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}

#menu li a:hover{
color:#ff0000;
}


#corpo{
	width: 955px;
	height: 900px;
	margin: 0 auto;
}

#conteudo{
	
	width: 100%;
	height: 400px;
}
 #about{
     
        width: 100%;
        height: 400px;
}

table#aboutT{
        border: 1px solid #000000;
        border-spacing: 0px;
        margin-left: 50px;
        margin-right: auto;
               
}
table#aboutT td{
        border: 1px solid #000000;
}

#mapa{	
	width: 687px;
	height: 472px;
	position: relative;
	top: 35px;
	background-color: #f7f7f7;
}

#status-transito{
	width: 263px;
	height: 472px;
	position: relative;
	left: 690px;
	top: -460px;
	background-color: #242424;
}

#rodape{
	border: 1px solid;
	width: 955px;
	margin: 0 auto;
	position: absolute;
}
#mapasite{
        float: left;
        width: 40%;
}
#redes{
        float: left;
        width: 40%;
}

#norte{
	position: absolute;
	top: 59px;
	left: 177px;
}

#oeste{
	position: absolute;
	top: 150px;
	right: 384px;
}

#centro{
	position: absolute;
	top: 160px;
	right: 379px;
}

#leste{
	position: absolute;
	top: 130px;
	left: 302px;
}

#sul{
	position: absolute;
	top: 190px;
	left: 198px;
}

#rodape{
	position: relative;
	width: 100%;
	top: 532px;
}

.h2 {
	background-color: #242424;
	width: 100%;
	height: 30px;
	position: absolute;
}

.regioes{
	position: relative;
	width: 245px;
	height: 50px;
	top: 30px;
	background-color: #808080;
	
}

.regioes2{
	position: relative;
	width: 80px;
	top: -59.5px;
	left: 184px;
	height: 50px;
	background-color: #c0c0c0;
}

.titulos{
	position: relative;
	color: #ca3535;
	top: -20px;
}

.tr {
	position: relative;
	color: #ffffff;
	left: 70px;
}

.form {
<<<<<<< HEAD
	position: left;
=======
	
	text-align:left;
	position:center;	
>>>>>>> origin/master
	width: 223px;
	height:500px;
	
}


.form1 {
	
	text-align:left;
	position:absolute;	
	width: 300px;
	height:600px;
	
}
