html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: arial, inherit;
	vertical-align: baseline;
}
body{
    font-family: Roboto, sans-serif;
    background: linear-gradient(-15deg, #FFFFFF, #b5b5b5);
}

.divbody{
        
        width: 987px;
        margin: 0 auto;
        position: relative;
        
}
header{
        width: 987px;
        height: 152px;
        background-color: #9d9d9d;
}
.logo{
    width: 270px;
    height: 152px;
}


.menu {
	background-color: #e1e1e1;
	list-style: none;
	width: 987px;
	height: 32px;
	position: relative;
}
.menu li{
	position: relative;
	float: left;
	padding-left: 90px;	
}

.menu li a{
	color:#333; 
	text-decoration:none; 
	padding:10px 0px 5px 10px; 
	display:block;
}

.menu li a:hover{
color:#ff0000;
}
.corpo{
	width: 987px;
	margin: 0 auto;
}

#conteudo{
	width: 100%;
}
 #about{
     
        width: 100%;
        height: 400px;
}

#mapa{	
	width: 687px;
	height: 472px;
	position: relative;
	background-color: #f7f7f7;
}
#status-transito{
	width: 297px;
	height: 467px;
	position: absolute;
	left: 690px;
	top: 184px;
	background-color: #242424;
}
#norte{
	position: absolute;
	top: 59px;
	left: 177px;
}

#oeste{
	position: absolute;
	top: 150px;
	right: 384px;
}

#centro{
	position: absolute;
	top: 160px;
	right: 379px;
}

#leste{
	position: absolute;
	top: 130px;
	left: 302px;
}

#sul{
	position: absolute;
	top: 190px;
	left: 198px;
}

#rodape{
	position: relative;
	width: 100%;
	
               
}

.h2 {
	background-color: #242424;
	width: 100%;
	height: 30px;
	position: relative;
        text-align: right;
        vertical-align: central;
        
}
.km{
    text-align: center;
}

.titregioes{
	font-size: 20px;
	position: relative;
}

.regioes{
	position: relative;
	width: 215px;
	height: 72px;
	background-color: #808080;
	border: 1px solid;
	
}

.regioes2{
	position: relative;
	width: 79px;
	left: 215px;
	top: -24px;
	border: 1px solid;
	height: 72px;
	background-color: #c0c0c0;
}

.titulos{
	position: relative;
	color: #ffffff;
	text-align: center;
	padding: 5px 0px 0px 0px;
}

footer{
	border: 1px solid;
	width: 987px;
	margin: 0 auto;
	position: relative;
        background-image: url(../img/rodape.png);
        background-size: 100%;
        border: 1px;
}
.mapasite{
        float: left;
        margin-left: 10px;
        width: 45%;
        list-style: none;
        text-decoration: none;
        border: 1px;
}
.mapasite li a{
    	color:#333; 
	text-decoration:none; 
}

.tit-ranking{
	background-color: #408080;
	position: relative;
	color: #ca3535;
	height: 35px;
	width: 100%;
	font-size: 24px;
	text-align: center;
}

.tit-ranking2{
	background-color: #400040;
	position: relative;
	color: #ca3535;
	height: 35px;
	width: 100%;
	text-align: center;
}

.boxranking{
	position: relative;
	width: 100%;
	height: 300px;
	border: 1px solid;
}

.boxempresa{
	width: 470px;
	height: 100%;
	border: 1px solid;
}

.boxreclamacao{
	position: relative;
	width: 470px;
	height: 300px;
	border: 1px solid;
	left: 515px;
	top: -264px;
}

.cada{
	font-size: 20px;
	list-style: none;
	position: relative;
	padding: 20px 0px 0px 20px;

}

.nr{
	position: relative;
	float: right;
	right: 120px;	
}

.emt{
	position: relative;
	float: right;
	top: -10px;
}

p {
	font-size: 16px;
	padding-left: 15px;
}

.form {
	text-align: left;
	position: relative;	
	width: 600px;
	height: 600px;
	left: 200px;

	
}


.form1 {
	text-align:left;
	position: relative;	
	width: 540px;
	height: 900px;
	left: 230px;
	
}

.containerform{
	position: relative;
	width: 100%;
	
}


input{     
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #ffffff; 
    border:1px solid #000000;
    height: 20px;
}

select{     
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #ffffff; 
    border:1px solid #000000;
}

.tam{
	width: 242px;
}

.inpesq{
	position: relative;
	
}

.inpdir{
	position: absolute;
	left: 300px;
	top: 74px;	
		
}

.ddconta{
	position: relative;
	width: 270px;
}

.ddconta2{
	position: relative;
	width: 268px;
	top: -60px;
	left: 271px;
}

.container-conta{
	width: 100%;	
}

.tit-conta{
	background-color: #408080;
	position: relative;
	color: #ca3535;
	height: 35px;
	width: 100%;
	font-size: 24px;
	text-align: center;
}

.boxtermos{
	position: relative;
	width : 540px;
	height: 160px;	
}

.aligncenter{
	position: relative;
	left: 180px;
}

.imgperfil{
    width: 20%;
    height: 20%;
    position: absolute;
}
#jardel{
        position: relative;
        alignment-adjust: initial;
}

#lucas{
    
}

#vinicius{
    
}
#amanda{
    
}

#about{
    
}

.nome{
    
}

#copy{
    font-size: xx-small;
    
}

#copyr{ /*propriedades do copyright*/
    position: relative;
    padding-bottom: 50px;
    
}

#textarea {

	resize: none;

}