/* 
* simple Signup Form
* Created by Oussama Afellad
* www.premiumfreebies.eu
* 29/08/2011*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: arial, inherit;
	vertical-align: baseline;
}


.divbody{
        
        width: 987px;
        margin: 0 auto;
        position: relative;
        
}
header{
        width: 987px;
        height: 152px;
        background-color: #9d9d9d;
}
.logo{
    width: 270px;
    height: 152px;
}


#menu {
	background-color: #e1e1e1;
	list-style: none;
	width: 987px;
	height: 32px;
	position: relative;
}
#menu li{
	position: relative;
	float: left;
	padding-left: 90px;	
}

#menu li a{
	color:#333; 
	text-decoration:none; 
	padding:10px 0px 5px 10px; 
	display:block;
}

#menu li a:hover{
color:#ff0000;
}
#corpo{
	width: 987px;
	margin: 0 auto;
}

#conteudo{
	width: 100%;
}
 #about{
     
        width: 100%;
        height: 400px;
}

#mapa{	
	width: 687px;
	height: 472px;
	position: relative;
	background-color: #f7f7f7;
}
#status-transito{
	width: 297px;
	height: 467px;
	position: absolute;
	left: 690px;
	top: 184px;
	background-color: #242424;
}
#norte{
	position: absolute;
	top: 59px;
	left: 177px;
}

#oeste{
	position: absolute;
	top: 150px;
	right: 384px;
}

#centro{
	position: absolute;
	top: 160px;
	right: 379px;
}

#leste{
	position: absolute;
	top: 130px;
	left: 302px;
}

#sul{
	position: absolute;
	top: 190px;
	left: 198px;
}

#rodape{
	position: relative;
	width: 100%;
	
               
}

.h2 {
	background-color: #242424;
	width: 100%;
	height: 30px;
	position: relative;
}

.titregioes{
	font-size: 20px;
	position: relative;
}

.regioes{
	position: relative;
	width: 215px;
	height: 72px;
	background-color: #808080;
	border: 1px solid;
	
}

.regioes2{
	position: relative;
	width: 79px;
	left: 215px;
	top: -24px;
	border: 1px solid;
	height: 72px;
	background-color: #c0c0c0;
}

.titulos{
	position: relative;
	color: #ffffff;
	text-align: center;
	padding: 5px 0px 0px 0px;
}

footer{
	border: 1px solid;
	width: 987px;
	margin: 0 auto;
	position: relative;
        background-image: url(img/rodape.png);
        background-size: 100%;
}
#mapasite{
        float: left;
        width: 40%;
}
#redes{
        float: left;
        width: 40%;
}

.tit-ranking{
	background-color: #408080;
	position: relative;
	color: #ca3535;
	height: 35px;
	width: 470px;
	font-size: 24px;
	text-align: center;
}

.tit-ranking2{
	background-color: #400040;
	position: relative;
	color: #ca3535;
	height: 35px;
	width: 470px;
	text-align: center;
}

.boxranking{
	position: relative;
	width: 100%;
	height: 300px;
	border: 1px solid;
}

.boxempresa{
	width: 470px;
	height: 100%;
	border: 1px solid;
}

.boxreclamacao{
	position: relative;
	width: 470px;
	height: 300px;
	border: 1px solid;
	left: 515px;
	top: -264px;
}

.cada{
	font-size: 20px;
	list-style: none;
	position: relative;
	padding: 20px 0px 0px 20px;

}

span{
	position: relative;
	float: right;
	right: 120px;	
}

.emt{
	position: relative;
	float: right;
	top: -10px;
}

p {
	font-size: 16px;
	padding-left: 15px;
}


